@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "iran";
  src:
    local("iran"),
    url("./fonts/IRANSansWeb(FaNum).woff") format(woff);
  font-wight: normal;
}
body {
  font-family: "iran";
}
.line:before {
  border-top: 2px solid #dfdfdf;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
.spinner {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid white;
  border-right-color: transparent;
  animation: rotate 1s linear infinite;
  margin: auto;
}
.spinner-main{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid red;
  border-right-color: transparent;
  animation: rotate 1s linear infinite;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
